<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11"></script>

  </head>
  <body>
    <div id="app">
       <div class="nav-bar"></div>
        <div class="cart"> Cart({{ cart.length}})</div>
        <product-display :premium="premium" @add-to-cart="updateCart" @remove-from-cart="removeCart"></product-display>
     </div>

    <!-- Import App -->
    <script src="./main.js"></script>
<!--    import components-->
    <script src="./components/ProductDisplay.js"></script>
    <script src="./components/ReviewForm.js"></script>
    <script src="./components/ReviewList.js"></script>
    <!--  Mount App-->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
